[Unit]
Description=Houses scrapper
Documentation=https://github.com/Woraufhin/phscrap
After=local-fs.target

[Service]
Restart=on-failure
User=phscrap
ExecStart=/usr/bin/phscrap >/var/log/phscrap/phscrap.log 2>&1

